* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    flex: 1;
    flex-grow: 1;
    background-color: #1F2937;
}
.maincontainer {
    display: flex;
    flex-direction: column;
    padding: 0px 150px 50px;
}
.headlogo, .mainthing {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.mainthing{
    gap: 30px;
}

.headlogo {
    justify-content: space-between;
    padding: 20px 0px;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
}

.logo, .hero {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}
.logo {
    align-self: center;
}


.hero {
    font-size: 48px;
    font-weight: bolder;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.headlinks {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.divone {
    margin-left: auto;
}

.awesome {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.pig {
    flex: 1;
    width: 550px;
    max-height: 200px;
}

.continfos {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px 150px 50px;
}
.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 30px;
}

.information {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.infos {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    max-width: 150px;
}
.infos img {
    margin-bottom: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 250px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1F2937;
    width: 720px;
}
.qtext {
    margin: 0;
    padding: 0;
}
.quote_credit {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 0 auto;
}

.invite {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 150px 80px
}

.inmodal {
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 40px 80px;
    column-gap: 80px;
}
.invite_text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.invite_header {
    font-size: 18px;
    font-weight: bold;
}
.invite_button {
    margin-left: 50px;
    align-self: flex-end;
    border: 1px solid white;
    border-radius: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.dollar, .save, .calc, .little {
    height: 150px;
    border: 2px solid rgb(10, 120, 190);
    border-radius: 6px;
}
.dollar {
    background-color: white;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

li {
    list-style: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 10px;
    font-weight: bold;
    border: none;
}