body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    flex: 1;
    background-color: #1F2937;
}
.maincontainer {
    display: flex;
    flex-direction: column;
}
.headlogo {
    flex-direction: row;
    margin-bottom: 50px;
}

.logo, .mainthing {
    margin-left: auto;
    margin-right: auto;
}

.logo, .hero {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: 900px;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.headlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.divone {
    margin-left: auto;
}

.divthree {
    margin-right: ;
}

.awesome {
    display: flex;
    flex-direction: column;
}
.pig {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.continfos {
    display: flex;
}

.quote {
    display: flex;
}

.invite {
    flex: 1;
    display: flex;
}

.footer {
    background-color: #1F2937;
    display: flex;
}

img {
    max-width: 100px;
    max-height: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

li {
    list-style: none;
}

button {
    height: 20px;
    width: 80px;
}

* {
    border: 2px solid black;
}